services:
  # 1. Your .NET Web API
  gym-api:
    image: gym-mgmt-api
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      # Using variable from .env for DB password is safer
      - ConnectionStrings__DefaultConnection=Server=gym-db;Database=GymMasterDb;User Id=sa;Password=${SA_PASSWORD};TrustServerCertificate=True;
      - JWT__Secret=${JWT_SECRET}
      - JWT__Issuer=${DOMAIN_NAME}
      - JWT__Audience=${DOMAIN_NAME}
      - JWT__TokenValidityInMinutes=60
      - JWT__RefreshTokenValidityInMinutes=1440
      - AppConfig__CorsOrigins=${DOMAIN_NAME},http://localhost:5173,https://localhost:7077
      - AppConfig__ApiVirtualPath=${DOMAIN_NAME}
    depends_on:
      - gym-db
    restart: always
    networks:
      - proxy_net
      - internal_net

  # 2. SQL Server Database
  gym-db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${SA_PASSWORD}
    volumes:
      - sql_data:/var/opt/mssql
    restart: always
    networks:
      - internal_net

# 3. Network & Volume Definitions
networks:
  proxy_net:
    external: true
  internal_net:

volumes:    
  sql_data: 